
body{
  background-color: #1D2B53;
  font-family: 'Inconsolata', monospace;
  font-family: 'Open Sans', sans-serif;
}
header{
  background-color: #1D2B53;
  margin: 0px 0px 0px;
  color: #ffffff;
}

a{
  color: #ffffff;
}

#parrafoHeader1{
  font-size: 50px;
  color: #ffffff;

}
#parrafoHeader2{
  font-size: 20px;
  color: #ffffff;
}
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0; 
  background: #1D2B53;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: rgb(255, 255, 255);
}
.navigation a:hover {
  background: #1565C0;
  border-style: double;
  border-radius: 25px ;
}

section, footer, header{
  text-align: center;
  color:#ffffff
}
h2, p{
  color: #ffffff;
}