
body{
  background-color: #1D2B53;
  font-family: 'Inconsolata', monospace;
  font-family: 'Open Sans', sans-serif;
}
header{
  background-color: #1D2B53;
  margin: 0px 0px 0px;
  color: #ffffff;
}

a{
  color: #ffffff;
}

#parrafoHeader1{
  font-size: 50px;
  color: #ffffff;

}
#parrafoHeader2{
  font-size: 20px;
  color: #ffffff;
}

section, footer{
  text-align: center;
}
h2, p{
  color: #ffffff;
}